@tailwind base;
@tailwind components;
@tailwind utilities;
@import "sidebar.css";
@import "header.css";

:root {
  --shift: -250px;
  --white: #ffffff;
  --light: #f5f4e1;
  --medium: #a6cf98;
  --dark: #557c55;
  --contrast: #fa7070;
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
  font-family: "Albert Sans", sans-serif;
}

h1 {
  font-family: "Bree Serif", serif;
}

.page {
  /* min-height: 100vh;
  display: grid;
  flex-grow: 1;

  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer"; */
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: auto;
  margin-top: 100px;
  /* background-image: url("./images/ruardean3.png");
  background-position: bottom 0px left 0px;
  background-repeat: no-repeat;
  background-size: cover; */
}

.footer {
  background-color: var(--medium);
  /* color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;  */
  min-height: 100px;
}

.icon-facebook {
  background-image: url("./images/icons/facebook-green.png");
}

.icon-facebook:hover {
  background-image: url("./images/icons/facebook-pink.png");
}

.icon-email {
  background-image: url("./images/icons/email-green.png");
}

.icon-email:hover {
  background-image: url("./images/icons/email-pink.png");
}
